/*
font family import link here 
 */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter&family=Dancing+Script:wght@500&family=Edu+NSW+ACT+Foundation&family=Edu+SA+Beginner:wght@700&family=Merriweather&family=Noto+Sans&family=Open+Sans&family=Poppins:wght@400;500&family=Roboto:wght@500&family=Splash&family=Titillium+Web&display=swap");

/*
Common styles
 */

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-primary-color {
  color: #fd6e0a;
}

.container {
  width: 1200px;
}

.btn-primary {
  background: #fd6e0a;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 700;
}

/*
Header and navigation styles
 */

.header {
  background: #fff8f3;
  background-image: url("images/header_bg.png"), url("images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;
  color: #181818;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 13px 0;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li {
  list-style-type: none;
  margin-left: 40px;
}

nav li button {
  padding: 10px 25px;
}

/*
hero section styles 
 */

section > .hero-section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 25px 0;
}

.hero-section > .hero-content > .hero-sub-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
  color: #474747;
  margin-bottom: 5px;
}

.hero-section > .hero-content > .hero-title {
  font-weight: 700;
  font-size: 80px;
  line-height: 116px;
  color: #181818;
}

.hero-section > .hero-content > .hero-discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
  margin-top: 20px;
}

.hero-section > .hero-content > .hero-btn > .color-btn {
  padding: 13px 11px;
  margin-right: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  background: #fd6e0a;
  border-radius: 5px;
  border: none;
}
.hero-section > .hero-content > .hero-btn > .white-btn {
  padding: 13px 11px;
  border: 1px solid #fd6e0a;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #fd6e0a;
  border-radius: 5px;
}

section .hero-section > img {
  width: 560px;
  height: 610px;
}